option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.drf_jwt_backend.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: backend.drf_jwt_backend.settings
    PYTHONPATH: $PYTHONPATH

packages:  
  yum:  
    python3-devel: []
    mariadb105-devel.x86_64: []

commands:
  01_update:
    command: "dnf -y update"

container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && /var/app/venv/staging-LQM1lest/bin/python3.11 manage.py migrate"
    cwd: "/var/app/staging"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && /var/app/venv/staging-LQM1lest/bin/python3.11 manage.py collectstatic --noinput"
    cwd: "/var/app/staging"
