option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.drf_jwt_backend.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: backend.drf_jwt_backend.settings
    PYTHONPATH: $PYTHONPATH

commands:
  01_install_extras:
    command: "amazon-linux-extras install -y mariadb10.5"
  02_install_gcc:
    command: "yum -y install gcc"
  03_install_python_devel:
    command: "yum -y install python3-devel"

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
